
<html>
    <head>
        <title>File Uploading Page</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    </head>
    <body>

    	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

        <form action="upload" method="post" enctype="multipart/form-data">
        <div class="container">
        	<label for="inputFile">Choose File:</label>
            <input type="file" name="inputFile"><br>
            <input type="submit" value="Upload">
        </div>
            
        </form>

    </body>
</html>